

  .caja {
    border: 1px solid #fdd273;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    background-color: #ffbc64;
    font-family: 'Font Name', sans-serif;
    
  }
  form label {
    display: block;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
  }
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: #fcac01;
    color: rgb(253, 252, 246);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: #ffa42d;
  }
  h2{
    color: #ffffff;
  }
  .caja a {
    color: #333;
    text-decoration: none;
    margin-top: 10px;
  }
  
